//定义字号
$f-50:.50rem;
$f-46:.46rem;
$f-40:.4rem;
$f-38:.38rem;
$f-36:.36rem;
$f-34:.34rem;
$f-32:.32rem;
$f-30:.30rem;
$f-26:.26rem;
$f-22:.22rem;
$f-20:.20rem;
$f-24:.24rem;
$f-28:.28rem;
$f-18:.18rem;
$f-16:.16rem;
$f-33:.33rem;

//定义字体颜色
$fc-white:#ffffff;
$fc-gray:#666666;
$fc-yellow:#f2af29;
$fc-lightgray:#999999;
$fc-blue:#007db8;
$fc-error:#ff0000;

//定义背景颜色
$bg-body:#f9f9fc;
$bg-yellow:#f2af29;
$bg-blue:#007db8; 
$bg-white:white;


//边框
$bor-yellow:#f2af29;
$bor-error:#ff0000;
$bor-white:#ffffff;
$bor-gray:#bbbbbb;




