//定义字号
$fs-vlg:.5rem;
$fs-lg:.3rem;
$fs-nor:.22rem;
$fs-sm:.16rem;

//定义颜色
$white:#ffffff;
$lightgray:#eeeeee;
$gray:#999999;
$darkgray:#666666;
$dark:#333333;
$yellow:#f2af29;
$blue:#007db8;
$red:#ff0000;




