//动画
/* feedback的弹跳效果 */
.ani-jump {
  -webkit-animation: bounce 500ms ease-out;
  animation: bounce 500ms ease-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:translateY(-15%);
  }
  20% {
    -webkit-transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(-10%);
  }
  60% {
    -webkit-transform:translateY(0%);
  }
  80% {
    -webkit-transform:translateY(-5%);
  }
  100% {
    -webkit-transform:translateY(0%);
  }
}

.ani-form-top{
  -webkit-animation: form-top 400ms ease-out;
  animation: form-top 400ms ease-out;
}

@-webkit-keyframes form-top {
  0% {
    -webkit-transform:translateY(-.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform:translateY(0%);
    opacity: 1;
  }
}

.ani-to-top{
  -webkit-animation: to-top 500ms;
  animation: to-top 500ms;
}

@-webkit-keyframes to-top {
  0% {
    -webkit-transform:translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform:translateY(-.5rem);
    opacity: 0;
  }
}

.ani-form-bottom{
  -webkit-animation: form-bottom 500ms;
  animation: form-bottom 500ms;
}

@-webkit-keyframes form-bottom {
  0% {
    -webkit-transform:translateY(.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform:translateY(0%);
    opacity: 1;
  }
}